body {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.chatbot-container {
    margin: 60px;
    background-color: #f5f5f5;
    border: 1px solid #eef1f5;
    border-radius: 8px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
}

#header {
    background-color: #354f9b;
    color: #ffffff;
    padding: 20px;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
//big thing
#chatbot {
    background-color: #ffffff;
    border-radius: 0 0 8px 8px;
    overflow-y: auto;
    max-height: 400px;
    max-width: 300px;
    padding: 50px;
}

#conversation {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#input-form {
    display: flex;
    align-items: center;
    border-top: 1px solid #eef1f5;
    padding: 10px;
    background: #ffffff;
    border-radius: 0 0 8px 8px;
}

#input-field {
    flex: 1;
    height: 40px;
    width: 200px;
    border: 1px solid #eef1f5;
    border-radius: 4px;
    padding:  10px;
    font-size: 14px;
    transition: border-color 0.3s;
    background: #ffffff;
    color: #333333;
}

.send-icon {
    margin-right: 10px;
    cursor: pointer;
}

#input-field:focus {
    border-color: #333333;
    outline: none;
}

#submit-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}



.user-message {
    float: right;
    background-color: #007bff;
    color: #fff;
}

/* Add this CSS to style the chatbox-opener circle */




/* Add this CSS to create a box around user messages */
/* Add this CSS to create a box around user messages */
.user-text {
    float: right;
    background-color: #007bff;
    color: #fff;
    border: 1px solid #074383;
    border-radius: 10px;
    padding: 10px;
    max-width: 70%;
    margin: 5px; /* Add margin for spacing between messages */
}

/* Style chatbot messages that match a specific text */
.chatbot-text{
    float: left;
    background-color: #9aa3ad;
    color: #fff;
    border: 1px solid #5c5f63;
    border-radius: 10px;
    padding: 10px;
    max-width: 70%;
    margin: 5px; /* Add margin for spacing between messages */
} 



/* Rest of your CSS styles */

